/* General */

body {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4 {
  color: #031c4e;
}

p {
  color: #5c6a88;
}

/* Utilities */
.btn-lightblue {
  background-color: #579aff;
  width: 100%;
  color: #fff;
  font-weight: 500;
}

.btn-white {
  background-color: #fff;
  width: 100%;
  color: #626262;
  font-weight: 700;
}

/* Main Menu */
.navbar-default {
  margin: 0;
}

.navbar-center {
  margin-left: 130px;
}

.navbar > .container .navbar-header .navbar-brand {
  color: #2285fd;
}

.navbar > .container img {
  max-width: 3%;
  width: 3%;
  float: left;
  margin: 10px;
}

.navbar .navbar-center li a,
.navbar .navbar-right li a {
  color: #031c4e;
}

/* jumbotron */
.jumbotron {
  background-image: url(../img/assets/bg-banner-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
}

.jumbotron h1 {
  color: #fff;
  font-weight: 700;
}

.jumbotron p {
  color: #baccff;
}

.jumbotron .box-white p {
  color: #122a59;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}

.jumbotron .box-white p a {
  text-decoration: underline;
  color: #1776fe;
  font-weight: 500;
}

.jumbotron .box-white p a:hover {
  text-decoration: none;
  color: #66a0f4;
}

.jumbotron .box-white {
  background-color: #fff;
  border-radius: 10px;

}

.jumbotron .box-white span {
  display: block;
  color: #006aff;
  font-size: 30px;
  font-weight: 500;
}

.jumbotron form input {
  padding: 10px 5px;
  border: 1px solid #eeeeee;
  width: 100%;
  color: #757575;
  font-weight: 500;
  font-size: 16px;
}

/* MAIN */
/* partners */
.partners p {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.partners .list-partners li {
  display: inline-block;
  width: calc((100% / 6) - 10px);
}

.partners .list-partners li a img {
  width: 150px;
  max-width: 100%;
}

.partners a {
  display: block;
  color: #1776fe;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}
